@model DMStorage.Core.ViewModels.DevicesViewModel

<h3 class="text-center my-text-shadow">Novy Typ zarizeni</h3>

<form id="deviceTypeForm">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.TypeDevice.Id, new { @id = "TypeDevice.Id" })

    <div>
        <div class="row text-right justify-content-center">
@*             <div class="form-group mt-1 col-md-4">
                @Html.LabelFor(x => x.TypeDevice.Name)
            </div> *@
            <div class="form-group ml-1 mt-1 col-md-10" id="devname">
                @Html.TextBoxFor(x => x.TypeDevice.Name, new { @class = "form-control bg-dark text-light", id = "deviceTypeName", placeholder = "Typ zarizeni" })
                <span asp-validation-for="TypeDevice.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex flex-column text-center justify-content-center align-items-center">
            <button class="btn btn-primary btn-sm mb-3" type="button" onclick="AddTypeDevice();">
                Ulozit
            </button>
        </div>
        <div class="container-fluid d-flex justify-content-center my-border p-2 btn-group">
            <button type="button" id="reloadDeviceBtn" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#exampleModal">Pridat zarizeni</button>
        </div>
    </div>
</form>

<script src="~/js/devices.js"></script>

<script>
    $(document).ready(function () {
        function loadPartialView(partialViewUrl, reloadButtonId) {
            $.get(partialViewUrl, function (data) {
                $('#partialContent').html(data);
            });
        }
        $("#reloadDeviceBtn").click(function (e) {
            e.stopPropagation();
            loadPartialView('@Url.Action("AddDevice", "Device")', '#reloadDeviceBtn');
        });
    });
    $(document).ready(function () {
        $('#deviceTypeForm').submit(function (event) {
            event.preventDefault();
            AddTypeDevice();
        });
    });
</script>