@model DMStorage.Core.ViewModels.DeviceViewModel

@{
    ViewData["Title"] = "Type device detail";
    int? typeDeviceId = TempData["TypeDeviceId"] as int?;
}

<div class="mt-5 container my-border">
    <h2>Detajle Typu zarizeni:</h2>

    <div class="row">
        <div class="col-md-2"><strong>Typ zarizeni:</strong></div>
        <div class="col-md-9">@Model.TypeDevice.Name</div>
    </div>

    <h3 class="mt-3">Zarizeni typu @Model.TypeDevice.Name:</h3>

    <ul class="scrollable-listDetails">
        @foreach (var device in Model.Devices)
        {
            <li>
                <a style="color: wheat" href="@Url.Action("Details", "Home", new { type = "device", id = device.Id })">@device.Name</a>
            </li>
        }
    </ul>

    <div class="row d-flex justify-content-between align-bottom mr-2 ml-2 mt-5">
        <a style="color: red" href="@Url.Action("Lists", "Home")">Zpet k listu</a>
        <a style="color: red" href="@Url.Action("Index", "Home")">Home</a>
    </div>
</div>

